<header class="header">
  <div class="container header__container">
    <div class="logo">
      <img src="assets/images/logo.png" alt="Логотип">
    </div>
    <nav class="menu" id="menu">
      <div class="menu__close">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 492 492" style="enable-background:new 0 0 492 492;" xml:space="preserve">
                    <g>
                        <g>
                            <path d="M300.188,246L484.14,62.04c5.06-5.064,7.852-11.82,7.86-19.024c0-7.208-2.792-13.972-7.86-19.028L468.02,7.872
                                c-5.068-5.076-11.824-7.856-19.036-7.856c-7.2,0-13.956,2.78-19.024,7.856L246.008,191.82L62.048,7.872
                                c-5.06-5.076-11.82-7.856-19.028-7.856c-7.2,0-13.96,2.78-19.02,7.856L7.872,23.988c-10.496,10.496-10.496,27.568,0,38.052
                                L191.828,246L7.872,429.952c-5.064,5.072-7.852,11.828-7.852,19.032c0,7.204,2.788,13.96,7.852,19.028l16.124,16.116
                                c5.06,5.072,11.824,7.856,19.02,7.856c7.208,0,13.968-2.784,19.028-7.856l183.96-183.952l183.952,183.952
                                c5.068,5.072,11.824,7.856,19.024,7.856h0.008c7.204,0,13.96-2.784,19.028-7.856l16.12-16.116
                                c5.06-5.064,7.852-11.824,7.852-19.028c0-7.204-2.792-13.96-7.852-19.028L300.188,246z"/>
                        </g>
                    </g>
                </svg>
      </div>
      <ul class="menu__list">
        <li class="menu__item">
          <a href="#" class="menu__link" (click)="scrollTo(productsElement)">Пироженки</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link" (click)="scrollTo(advantagesElement)">О нас</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link" (click)="scrollTo(orderElement)">Оформить заказ</a>
        </li>
      </ul>
    </nav>
    <a href="tel:+375293689868" class="phone header__phone">{{ numberPhone }}</a>
    <div class="header__burger" id="header__burger">
      <img class="header__burger-img" src="assets/images/burger.png" alt="Меню">
    </div>
  </div>
</header>

<section class="main">
  <div class="container main__container">
    <div class="main__title-container">
      <h1 class="main__title">
        Мягкие французские пироженки Macaroons
      </h1>
    </div>
    <div class="main__general">
      <p class="main__text">
        Побалуйте себя и своих близких самыми вкусными и ароматными домашними пироженками
        Macaroon!
      </p>
    </div>
    <div class="main__action">
      <button class="btn main__btn" (click)="scrollTo(productsElement)">Выбрать макарун</button>
    </div>
    <div class="main__image">
      <img src="assets/images/set.png" alt="Комплект пирожных" class="main__image-img">
      <div class="circles-animation main__circle_first"></div>
      <div class="circles-animation main__circle_second"></div>
    </div>
  </div>
</section>

<section class="advantages" #advantagesElement>
  <div class="container advantages__container">
    <h2 class="advantages__title">
      Мы печём для вас вкуснейшие макаруны уже более 10 лет
    </h2>
    <div class="advantages__general">
      <p class="advantages__text">
        Все пироженки мы готовим только из натуральных и качественных продуктов, без консервантов,
        ароматизаторов, красителей. Используем в приготовлении сливочное масло 82,5%, без дрожжей, маргарина,
        разрыхлителей и улучшителей муки.
      </p>
    </div>
    <div class="advantages__image">
      <img class="advantages__image-img" src="assets/images/macaroon.png" alt="Макарун">
    </div>
    <div class="advantages__items">
      <advantage *ngFor="let advantage of advantages, let i = index" [advantage]="advantage" [index]="i"></advantage>
    </div>
  </div>
</section>

<section class="products" #productsElement>
  <div class="container products__container">
    <h2 class="products__title" id="products__title">
      Выберите свой макарун
    </h2>
    <div class="products__items">
      <product *ngFor="let product of products" [product]="product" (addToCartEvent)="addToCart($event, orderElement)"></product>
    </div>
  </div>
</section>

<section class="order" #orderElement>
  <div class="container order__container">
    <div class="order__image">
      <img src="assets/images/macaroons.png" alt="Макаруны" class="order__image-img">
    </div>
    <div class="order__strawberry-big">
      <img src="assets/images/strawberry_big.png" alt="Клубника" class="order__strawberry-big-img">
    </div>
    <div class="order__strawberry-small">
      <img src="assets/images/strawberry_small.png" alt="Клубника" class="order__strawberry-small-img">
    </div>
    <h2 class="order__title" id="order__title">
      Закажите макарун!
    </h2>
    <div class="order__info">
      <p class="order__text">
        Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего пекаря!
      </p>
    </div>
    <form action="#" method="post" class="order__form">
      <label class="order__label">
        Ваш выбор
        <input type="text" name="choice" class="base-input order__base-input-first"
               placeholder="Напишите, что хотите заказать..." [(ngModel)]="formValues.productTitle">
      </label>
      <label class="order__label">
        Заполните данные для заказа
        <input type="text" name="name" class="base-input order__base-input-second" placeholder="Ваше имя"
               [(ngModel)]="formValues.name">
        <input type="tel" name="phone" class="base-input order__base-input-three"
               placeholder="+375 (__) ___ - __ - __" [(ngModel)]="formValues.phone">
        <button name="submit" class="btn order__btn">Оформить заказ</button>
      </label>
    </form>
  </div>
</section>

<footer class="footer">
  <div class="container footer__container">
    <div class="logo footer__logo">
      <img src="assets/images/logo.png" alt="Логотип">
    </div>
    <a [href]="linkInstagram" class="footer__image-instagram">
      <img src="assets/images/instagram.png" alt="Instagram" class="footer__image-img">
      <div class="footer__text">
        <p class="footer__text-instagram">
          Мы в Instagram
        </p>
      </div>
    </a>
    <a href="tel:+375293689868" class="phone footer__phone">{{ numberPhone }}</a>
    <div class="footer__rights">
      <p class="footer__rights-text">
        Все права защищены, 2020
      </p>
    </div>
  </div>
</footer>

<div class="cart" [style.display]="showCart ? 'block' : 'none'">
  <a href="#order__title" class="cart__block-hidden">
    <div class="cart__frame-hidden">
      <p class="cart__text">
        {{productsAmountService.amount | number:'1.2-2':'ru'}} руб.
      </p>
      <div class="cart__frame-arrow"></div>
    </div>
  </a>
  <div class="cart__block-fixed">
    <img src="assets/images/cart.png" alt="Корзина" class="cart__image-img">
  </div>
  <div class="cart__count">{{cartService.count}}</div>
</div>
