<header class="header">
  <div class="container header__container">
    <div class="logo">
      <img src="assets/images/logo.png" alt="Логотип">
    </div>
    <nav class="menu" id="menu">
      <div class="menu__close">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 492 492" style="enable-background:new 0 0 492 492;" xml:space="preserve">
                    <g>
                        <g>
                            <path d="M300.188,246L484.14,62.04c5.06-5.064,7.852-11.82,7.86-19.024c0-7.208-2.792-13.972-7.86-19.028L468.02,7.872
                                c-5.068-5.076-11.824-7.856-19.036-7.856c-7.2,0-13.956,2.78-19.024,7.856L246.008,191.82L62.048,7.872
                                c-5.06-5.076-11.82-7.856-19.028-7.856c-7.2,0-13.96,2.78-19.02,7.856L7.872,23.988c-10.496,10.496-10.496,27.568,0,38.052
                                L191.828,246L7.872,429.952c-5.064,5.072-7.852,11.828-7.852,19.032c0,7.204,2.788,13.96,7.852,19.028l16.124,16.116
                                c5.06,5.072,11.824,7.856,19.02,7.856c7.208,0,13.968-2.784,19.028-7.856l183.96-183.952l183.952,183.952
                                c5.068,5.072,11.824,7.856,19.024,7.856h0.008c7.204,0,13.96-2.784,19.028-7.856l16.12-16.116
                                c5.06-5.064,7.852-11.824,7.852-19.028c0-7.204-2.792-13.96-7.852-19.028L300.188,246z"/>
                        </g>
                    </g>
                </svg>
      </div>
      <ul class="menu__list">
        <li class="menu__item">
          <a href="#products__title" class="menu__link">Пироженки</a>
        </li>
        <li class="menu__item">
          <a href="#advantages__title" class="menu__link">О нас</a>
        </li>
        <li class="menu__item">
          <a href="#order__title" class="menu__link">Оформить заказ</a>
        </li>
      </ul>
    </nav>
    <a href="tel:+375293689868" class="phone header__phone">
      +375 (29) 368-98-68
    </a>
    <div class="header__burger" id="header__burger">
      <img class="header__burger-img" src="assets/images/burger.png" alt="Меню">
    </div>
  </div>
</header>

<section class="main">
  <div class="container main__container">
    <div class="main__title-container">
      <h1 class="main__title">
        Мягкие французские пироженки Macaroons
      </h1>
    </div>
    <div class="main__general">
      <p class="main__text">
        Побалуйте себя и своих близких самыми вкусными и ароматными домашними пироженками
        Macaroon!
      </p>
    </div>
    <div class="main__action">
      <button class="btn main__btn">Выбрать макарун</button>
    </div>
    <div class="main__image">
      <img src="assets/images/set.png" alt="Комплект пирожных" class="main__image-img">
      <div class="circles-animation main__circle_first"></div>
      <div class="circles-animation main__circle_second"></div>
    </div>
  </div>
</section>

<section class="advantages">
  <div class="container advantages__container">
    <h2 class="advantages__title" id="advantages__title">
      Мы печём для вас вкуснейшие макаруны уже более 10 лет
    </h2>
    <div class="advantages__general">
      <p class="advantages__text">
        Все пироженки мы готовим только из натуральных и качественных продуктов, без консервантов,
        ароматизаторов, красителей. Используем в приготовлении сливочное масло 82,5%, без дрожжей, маргарина,
        разрыхлителей и улучшителей муки.
      </p>
    </div>
    <div class="advantages__image">
      <img class="advantages__image-img" src="assets/images/macaroon.png" alt="Макарун">
    </div>
    <div class="advantages__items">
      <div class="advantage">
        <div class="advantage__number">1</div>
        <h3 class="advantage__dignity">
          Лучшие продукты
        </h3>
        <div class="advantage__description">
          <p class="advantage__text">
            Мы честно готовим макаруны только из натуральных и качественных продуктов. Мы не используем
            консерванты, ароматизаторы и красители.
          </p>
        </div>
      </div>
      <div class="advantage">
        <div class="advantage__number">2</div>
        <h3 class="advantage__dignity">
          Много вкусов
        </h3>
        <div class="advantage__description">
          <p class="advantage__text">
            Наша задача – предоставить вам широкое разнобразие вкусов. Вы удивитесь, но у нас более 70
            вкусов
            пироженок.
          </p>
        </div>
      </div>
      <div class="advantage">
        <div class="advantage__number">3</div>
        <h3 class="advantage__dignity">
          Бисквитное тесто
        </h3>
        <div class="advantage__description">
          <p class="advantage__text">
            Все пирожные готовятся на бисквитном тесте с качественным сливочным маслом 82,5%. В составе нет
            маргарина и дрожжей!
          </p>
        </div>
      </div>
      <div class="advantage">
        <div class="advantage__number">4</div>
        <h3 class="advantage__dignity">
          Честный продукт
        </h3>
        <div class="advantage__description">
          <p class="advantage__text">
            Вкус, качество и безопасность наших пирогов подтверждена декларацией о соответствии, которую мы
            получили 22.06.2016 г.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="products">
  <div class="container products__container">
    <h2 class="products__title" id="products__title">
      Выберите свой макарун
    </h2>
    <div class="products__items">
      <div class="products__item">
        <div class="products__image">
          <img src="assets/images/product1.png" alt="Макарун" class="products__image-img">
        </div>
        <h4 class="products__name">
          Макарун с малиной
        </h4>
        <div class="products__quantity">
          <p class="products__quantity-data">
            1 шт.
          </p>
        </div>
        <div class="products__price">
          <p class="products__price-data">
            1,70 руб.
          </p>
        </div>
        <div class="products__action">
          <button class="btn products__btn">Заказать</button>
        </div>
      </div>
      <div class="products__item">
        <div class="products__image">
          <img src="assets/images/product2.png" alt="Макарун" class="products__image-img">
        </div>
        <h4 class="products__name">
          Макарун с манго
        </h4>
        <div class="products__quantity">
          <p class="products__quantity-data">
            1 шт.
          </p>
        </div>
        <div class="products__price">
          <p class="products__price-data">
            1,70 руб.
          </p>
        </div>
        <div class="products__action">
          <button class="btn products__btn">Заказать</button>
        </div>
      </div>
      <div class="products__item">
        <div class="products__image">
          <img src="assets/images/product3.png" alt="Макарун" class="products__image-img">
        </div>
        <h4 class="products__name">
          Пирог с ванилью
        </h4>
        <div class="products__quantity">
          <p class="products__quantity-data">
            1 шт.
          </p>
        </div>
        <div class="products__price">
          <p class="products__price-data">
            1,70 руб.
          </p>
        </div>
        <div class="products__action">
          <button class="btn products__btn">Заказать</button>
        </div>
      </div>
      <div class="products__item">
        <div class="products__image">
          <img src="assets/images/product4.png" alt="Макарун" class="products__image-img">
        </div>
        <h4 class="products__name">
          Пирог с фисташками
        </h4>
        <div class="products__quantity">
          <p class="products__quantity-data">
            1 шт.
          </p>
        </div>
        <div class="products__price">
          <p class="products__price-data">
            1,70 руб.
          </p>
        </div>
        <div class="products__action">
          <button class="btn products__btn">Заказать</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="order">
  <div class="container order__container">
    <div class="order__image">
      <img src="assets/images/macaroons.png" alt="Макаруны" class="order__image-img">
    </div>
    <div class="order__strawberry-big">
      <img src="assets/images/strawberry_big.png" alt="Клубника" class="order__strawberry-big-img">
    </div>
    <div class="order__strawberry-small">
      <img src="assets/images/strawberry_small.png" alt="Клубника" class="order__strawberry-small-img">
    </div>
    <h2 class="order__title" id="order__title">
      Закажите макарун!
    </h2>
    <div class="order__info">
      <p class="order__text">
        Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего пекаря!
      </p>
    </div>
    <form action="#" method="post" class="order__form">
      <label class="order__label">
        Ваш выбор
        <input type="text" name="choice" class="base-input order__base-input-first"
               placeholder="Напишите, что хотите заказать...">
      </label>
      <label class="order__label">
        Заполните данные для заказа
        <input type="text" name="name" class="base-input order__base-input-second" placeholder="Ваше имя">
        <input type="tel" name="phone" class="base-input order__base-input-three"
               placeholder="+375 (__) ___ - __ - __">
        <button name="submit" class="btn order__btn">Оформить заказ</button>
      </label>
    </form>
  </div>
</section>

<footer class="footer">
  <div class="container footer__container">
    <div class="logo footer__logo">
      <img src="assets/images/logo.png" alt="Логотип">
    </div>
    <a href="#" class="footer__image-instagram">
      <img src="assets/images/instagram.png" alt="Instagram" class="footer__image-img">
      <div class="footer__text">
        <p class="footer__text-instagram">
          Мы в Instagram
        </p>
      </div>
    </a>
    <a href="tel:+375293689868" class="phone footer__phone">
      +375 (29) 368-98-68
    </a>
    <div class="footer__rights">
      <p class="footer__rights-text">
        Все права защищены, 2020
      </p>
    </div>
  </div>
</footer>

<div class="present">
  <a href="#order__title" class="present__block-hidden">
    <div class="present__frame-hidden">
      <p class="present__text present__text-first">
        Оформите заказ
      </p>
      <p class="present__text present__text-second">
        и получите подарок!
      </p>
      <div class="present__frame-arrow"></div>
    </div>
  </a>
  <div class="present__block-fixed">
    <img src="assets/images/present.png" alt="Подарок" class="present__image-img">
  </div>
</div>
